<bbb>
    <server>
        <hostname>{{ bbb_hostname }}</hostname>
        <port>80</port>
        <secure_port>443</secure_port>
    </server>
    <database>
        <name>{{ bbb_database_name }}</name>
        <user>{{ bbb_database_user }}</user>
        <password>{{ bbb_database_password }}</password>
    </database>
</bbb>
