# Zulip LDAP configuration
LDAP_SERVER = '{{ ldap_url }}'
LDAP_BIND_DN = '{{ ldap_bind_dn }}'
LDAP_BIND_PASSWORD = '{{ ldap_bind_password }}'
LDAP_USER_SEARCH_BASE = '{{ ldap_user_search_base }}'
LDAP_USER_SEARCH_FILTER = '{{ ldap_user_search_filter }}'
LDAP_GROUP_SEARCH_BASE = '{{ ldap_group_search_base }}'
LDAP_GROUP_SEARCH_FILTER = '{{ ldap_group_search_filter }}'
