# Configuration file for Murmur

# The port to listen on
port = {{ mumble_server_port }}

# The password for server administrative access
serverpassword = {{ mumble_server_password }}

# The server name
serverName = {{ mumble_server_name }}

# The maximum number of users that can connect to the server
# (0 = unlimited)
maxUsers = 100
